:root {
    --primary-color: #ff5722;
    --accent-color: #ffc107;
    --text-color: #333;
    --background-color: #fff;
    --dark-bg-color: #263238;
    --dark-text-color: #fff;
    --light-bg-color: #fafafa;
    --light-text-color: #333;
}